<div class="row">
    <div class="col s6 center">
        <a href="{{ constant('ROOT_URL') }}add_client">
            <i class="material-icons icon-home-custom">group</i>
            <h3 class="blue-light-2">Ajouter un client</h3>
        </a>
    </div>
    <div class="col s6 center">
        <a href="{{ constant('ROOT_URL') }}list_client">
            <i class="material-icons icon-home-custom">view_headline</i>
            <h3 class="blue-light-2">Liste des clients</h3>
        </a>
    </div>
</div>