<div class="row">
    <h2 class="blue-light-2 center">Profil</h2>
    <div class="hr"></div>
    <form class="col s12 voffset6">
        <div class="row">
            <div class="input-field col s6">
                <input id="nom" type="text" class="validate" disabled="disabled">
                <label for="nom">{{ user.nom }}</label>
            </div>
            <div class="input-field col s6">
                <input id="prenom" type="text" class="validate" disabled="disabled">
                <label for="prenom">{{ user.prenom }}</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="fonction" type="text" class="validate" disabled="disabled">
                <label for="fonction">{{ user.email }}</label>
            </div>
        </div>
    </form>
</div>